@{
    ViewData["Title"] = "Hotel Główna Strona";
}

<div class="container-fluid p-0">
    <div class="hero">
        <img src="https://as1.ftcdn.net/v2/jpg/00/29/13/38/1000_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg" alt="Hotel" class="img-fluid">
        <div class="overlay">
            <h1 class="title">Hotel Paradise</h1>
            <p class="subtitle">Luksusowe pokoje i niezapomniane wrażenia</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="Index"><button class="btn btn-primary">Zobacz pokoje</button></a>
        </div>
    </div>
</div>